/* 전체 적용 */
* {
    box-sizing: border-box;
    word-break: keep-all;
  }
  body {
      font-family: Poppins, 'Noto Sans KR', sans-serif;
      margin: 0 0 140px;
      text-align: center;
      height: 100%;
      max-height: 100%;
      min-height: 100%;
  }
  a:link, a:visited, a:active {
      color: #ffffff;
      text-decoration: none;
  } 
  a:hover {
      text-decoration: underline;
  }
  
  /* nav */
  .nav {
    border-bottom: 1px solid #dddddd;
  }    
  #logo {
    height: 30px;
  } 
  ul.menu {
    display: inline-block;
    margin: 0;
    list-style: none;
  } 
  ul.menu > li {
    margin: 10px 25px;
    display: inline-block;
  }
  ul.menu > li > a {
    color: #a8a9c1;
    text-decoration: none;
  }
  .active {
    color: #703fda !important; 
  }
  .active:hover {
    cursor: none;
  }
  .nav,
  .main {
    padding: 16px;
  }
  
/* footer */
footer {
  padding: 32px 16px;
  background-color: #46415a; 
  color: #ffffff; 
  text-align: center;
  font-size: 15px;
}
.footer-rights {
  margin-top: 25px;
  margin-bottom: 0;
  font-size: 13px;
  font-weight: 200;
}
.contact-btn {
  margin: auto;
  padding: 10px 30px; 
  width: 120px;
  background-color: #ffffff; 
  border-radius: 999px; 
}
.contact-btn a {
  color: #7844e8; 
  font-weight: 800; 
}
.contact-btn a:hover {
  color: #ee3ac1; 
  font-weight: 900;
  text-decoration: none;
}