/* header */
header {
    background-color: #703fda; 
    color: #ffffff; 
    padding: 96px 0 0;
}
header h1 {
    margin: 5px 0;
    color: #a196e7; 
    font-size: 20px; 
    font-weight: 500; 
}
header > h1 > span {
    font-weight: 900
}
header > p {
    font-size: 26px; 
}
header > p > span {
    font-size: 70px; 
    font-weight: 700;
}
header > p > span > span {
    color: #f6c8f0
}

/* 본문 */
.purple {
    color: #703fda;
    font-size: 40px !important;
}
.first-sec {
    padding: 120px 60px;
}
.first-sec h2 {
    font-size: 24px; 
    font-weight: 300;
}
.first-sec h2 span {
    font-size: 32px; 
    font-weight: 700
}
.first-sec p {
    color: #a8a9c1;
}
.first-sec p span {
    font-weight: 700;
}
.first-sec p a {
    color: #7844e8; 
    font-weight: 700;
}

.second-sec {
    background-color: #f6f6fb;
}
.second-sec div {
    width: 640px; 
    padding: 120px 30px; 
    margin: 0 auto;
}
.second-sec div h2{
    font-size: 24px; 
    font-weight: 300;
}
.second-sec div h2 span{
    font-size: 32px; 
    font-weight: 700;
}
.second-sec div p{
    background-color: #ffffff;
    text-align: left; 
    padding: 24px; 
    margin: 32px 0;
}
.second-sec div p span {
    color: #b8b7ba
}
.link-blog {
    background-color: #f6f6fb;
    padding: 90px;
}
.link-blog a {
    /* color: #7844e8; */
    color: red;
}

.third-sec {
    background-color: #7844e8; 
    color: #ffffff; 
    padding: 56px 28px;
}
.third-sec div {
    margin: 32px auto;
}
.third-sec div a {
    background-color: #ffffff; 
    padding: 16px 40px; 
    color: #7844e8; 
    font-weight: 600; 
    border-radius: 999px; 
    text-decoration: none;
}

